nav {
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 10px;
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 300px;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

main{ background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  border: 100px solid #ccc;
  font-size: 8px;
  
}